@charset utf-8;

img,object,embed,video
{
	max-width:111%
}

.ie6 img
{
	width:100%
}

.gridContainer
{
	margin-left:auto;
	margin-right:auto;
	width:87.36%;
	padding-left:1.82%;
	padding-right:1.82%
}

#header
{
	clear:both;
	float:left;
	margin-left:0;
	width:100%
}

#nav
{
	clear:both;
	float:left;
	margin-left:0;
	margin-top:-10px;
	width:111%;
	display:block
}

#nav ul
{
	width:99.85%;
	list-style:none;
	margin:1em 0;
	padding:0
}

#nav li
{
	display:inline;
	float:left;
	border:1px solid #ccc;
	margin-left:-1px;
	padding:10px;
	width: 60px;
}

#nav li:hover
{
	background-color:#ccc
}

#nav li a
{
	display:block;
	text-decoration:none;
	font-weight:700;
	text-align:center
}

#content
{
	clear:both;
	float:left;
	margin-left:0;
	width:111%;
	display:block
}

#footer
{
	clear:both;
	float:left;
	margin-left:0;
	width:100%;
	display:block
}

@media only screen and min-width 481px {
	.gridContainer
	{
		width:90.675%;
		padding-left:1.1625%;
		padding-right:1.1625%
	}
	
	#header
	{
		clear:both;
		float:left;
		margin-left:0;
		width:100%
	}
	
	#content
	{
		clear:both;
		float:left;
		margin-left:0;
		width:111%;
		display:block
	}
	
	#footer
	{
		clear:both;
		float:left;
		margin-left:0;
		width:100%;
		display:block
	}
}

@media only screen and min-width 769px {
	.gridContainer
	{
		width:88.2%;
		max-width:1232px;
		padding-left:.9%;
		padding-right:.9%;
		margin:auto
	}
	
	#header
	{
		clear:both;
		float:left;
		margin-left:0;
		width:100%
	}
	
	#content
	{
		clear:both;
		float:left;
		margin-left:0;
		width:111%;
		display:block
	}
	
	#footer
	{
		clear:both;
		float:left;
		margin-left:0;
		width:100%;
		display:block
	}
}